@charset "UTF-8";
/*

	TODO, _build\styles\less\mixins.less

*/
/*
$font-weight-base: 300!default;
$font-size-base: 1.0625rem!default;
$font-size-sm: 0.875rem!default;
$line-height-base: 1.5!default;
$headings-font-weight: normal!default;
$headings-line-height: 1.1!default;
$headings-margin-bottom:15px!default;
$paragraph-margin-bottom:15px!default; 

$btn-padding-y: 9.5px!default;
$btn-padding-x: 24px!default; 
$btn-font-weight: 600!default;
$btn-border-width: 2px; 
$btn-padding-y-sm: 7px!default;
$btn-padding-x-sm: 24px!default;

$breadcrumb-padding-y:0!default;
$breadcrumb-padding-x:0!default;
$breadcrumb-margin-bottom:0!default;
$breadcrumb-bg:transparent!default;

$breadcrumb-divider: none;
*/
/*

	This ones commented are default ones.
	In this custom configuration i´ve removed all $colors, and made some map-merges into the main.scss
	
	Idea here is to output a cleanner :root variables into the css file, and also make all those colors to be available for color variants over the components like buttons, alerts, so on.

*/
/*

	If there´s the need to add colors, just do:

*/
/*	*/
/*
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
 
$blue:    #0B486B !default;
$indigo:  #6610f2 !default;
$purple:  #BD1550 !default;
$pink:    #FE4365 !default;
$red:     #dc3545 !default;
$orange:  #E97F02 !default;
$yellow:  #F8CA00 !default;
$green:   #8A9B0F !default;
$teal:    #83AF9B !default;
$cyan:    #00A0B0 !default;

$primary:       $green !default;
$secondary:     $purple !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default; 
*/
/*
$nav-link-padding-y:
$nav-link-padding-x:
*/
:root {
  --primary: #d2b789;
  --secondary: #002246;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f2f2f2;
  --dark: #343a40;
  --gray-100: #f7f7f7;
  --gray-500: #bbbbbb;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

:root_colors {
  --primary: #d2b789;
  --secondary: #002246;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f2f2f2;
  --dark: #343a40;
  --gray-100: #f7f7f7;
  --gray-500: #bbbbbb; }

:root_colors_each {
  --navbar-light-color: rgba(0, 0, 0, 0.5); }

:root_breakpoint {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

/*# sourceMappingURL=root.css.map */
