
body.single {
	background-color:#f6f7f9;
}


.post-blog {

	.entry-header{ 
		margin-top: 15px; 
	}

	.entry-date{ 
		@include font-Roboto();
		font-weight:400;
		letter-spacing:1px;
		margin-bottom: 10px;
		font-size: 13px;
		text-transform: uppercase;
		display: inline-block;
	}

	.entry-title{

		@include font-Prata(); 
		font-weight:300;
		@include class-breakpoint(20px, 20px, 26px, 26px, 26px, 'font-size' );

		height:94px;
		max-height:94px;
		overflow:hidden;
		position: relative;

		a{
			color:$body-color;
		}
		
		&:after{
            content:"";
            display:block;
            position:absolute;
            left:0;
            right:0;
            height:24px;
            bottom:0;
            z-index:1;
            @include gradient( rgba(255,255,255,0), rgba(255,255,255,1) );
        }
	}

	.entry-excerpt{

		height:110px;
		max-height:110px;
		overflow:hidden;
		position: relative;
		display:inline-block;

		&:after{
            content:"";
            display:block;
            position:absolute;
            left:0;
            right:0;
            height:24px;
            bottom:0;
            z-index:1;
            @include gradient( rgba(255,255,255,0), rgba(255,255,255,1) );
        }

	}

	.entry-more{
		margin-top:20px;
		.btn{
			padding-top:7px;
			padding-bottom:7px;
		} 

	}


	.entry-thumbnail{

		position:relative;

		.cat-links{ 
			position:absolute; 
			top:0;
			left:0;
			background-color:#000;
			color:#fff;
			a{
				color:#fff;
				padding: 3px 10px; 
				margin:0 10px;
				display: inline-block; 
			}

		}

	}
	


}

.page-header-overlay{

	.meta{  
		display: inline-block;
		background-color:#000;
		color:#fff;
		font-size:18px;
		a{
			color:#fff;
			padding: 6px 20px; 
			margin:0 10px;
			display: inline-block; 
		} 

	}

}

.row-posts{

	.post-blog{

		margin-bottom:55px;

	}

}



.widget-box{
	.section-title{
		@include font-Roboto-Slab();
		font-weight:400;
	}
	ul{
		padding:0;
		list-style:none;
		li{ 
			border-bottom: 1px solid #000;
			padding:13px 0; 
			a{ 
				color:$body-color;
				display:block;
				position:relative;
				padding-right: 15px;
				&:after{

					@include make-as-icomoon("\e902"); 
					position:absolute;
					right:0;
					top:50%;
					@include translate(0,-50%);
				}

				&:hover{

					text-decoration:none;

				}

			}

			&:last-child{
				border-bottom:0;
			}
		}

	}

}


.ajax-loader{ 
	min-height: $grid-gutter * 4;
	position:relative; 
	.loader{
		display:none;
		top:50%;
		left:50%;
		right:inherit;
		bottom:inherit;
		width: 50px;
		height: 50px; 
		@include WPBC-border-radius(25px); 
		@include translate(-50%,-50%);
	}
	&.loading{
		.loader{
			display:block;
		}
	}
}


.single-blog{

	.entry-header{


		.entry-date{
			margin-top: -11px;
			text-align:center;
			margin-right:15px;
			padding-right:15px;
			border-right:1px solid black;
			.day{
				font-size:28px;
				line-height: 1.2;
				display:block;
			}
			.month{
				display:block;
			}
		}
		.entry-title{
			font-size:32px;
			line-height: 1.3;
			height: auto;
			max-height: inherit; 
			&:after{
				display:none;
			}
		}

	}

	.entry-content{

		p{
			margin-bottom:30px;
		}

		.wp-block-gallery{
			margin-bottom:15px;
		}

	}

	.entry-footer{
		.btn{
			margin-right:10px;
			padding: 8px 22px;
		}
	}

}