
.ajax-nav-loader{
    background-image:url('../images/loaders/tail-spin-1727db.svg');
}

.nomade-link{
    color:$body-color;
    text-decoration:none;
    &:hover{
        color:#5e5d5d;
        text-decoration:none;
        &:after{
            @include scale(1.5);
        }
    }
    &:after{
        @include transition();
        content:"";
        display:inline-block;
        width:20px;
        height:20px;
        background-color:transparent;
        background-size:20px 20px;
        background-repeat:no-repeat; 
        background-image: url('../images/theme/nomade.png');
        vertical-align: middle;
        margin-left: 10px;
        position:relative;
        top:-1px;
    }
} 

[class*="icon-form-"]{
    width:15px;
    height:15px;
    background-position:center center;
    background-color:transparent;
    background-size:15px 15px;
    background-repeat:no-repeat; 
    display:inline-block;
}
.icon-form-whatsapp{
    background-image: url('../images/theme/icon-form-whatsapp.png');
}
.icon-form-location{
    background-image: url('../images/theme/icon-form-location.png');
}
.icon-form-envelope{
    background-image: url('../images/theme/icon-form-envelope.png');
} 
.icon-form-phone{
    background-image: url('../images/theme/icon-form-phone.png');
}  

[class*="pngicon-"]{
    width:50px;
    height:50px;
    background-position:center center;
    background-color:transparent;
    background-size:50px 50px;
    background-repeat:no-repeat; 
    display:inline-block;

    &.sm{
        background-size:25px 25px;
    }
}
    .pngicon-facebook{
        background-image: url('../images/theme/icon-facebook.png');
    }
    .pngicon-twitter{
        background-image: url('../images/theme/icon-twitter.png');
    }
    .pngicon-instagram{
        background-image: url('../images/theme/icon-instagram.png');
    }
    .pngicon-whatsapp{
        background-image: url('../images/theme/icon-whatsapp.png');
    }
    .pngicon-location{
        background-image: url('../images/theme/icon-location.png');
    }

    .pngicon-arrow-up{
        background-image: url('../images/theme/icon-arrow-up.png');
    }
    .pngicon-arrow-up-alt{
        background-image: url('../images/theme/icon-arrow-up-alt.png');
    }

    .pngicon-arrow-down{
        background-image: url('../images/theme/icon-arrow-down.png');
    }
    .pngicon-arrow-down-alt{
        background-image: url('../images/theme/icon-arrow-down-alt.png');
    }
    .pngicon-arrow-down-secondary{
        background-image: url('../images/theme/icon-arrow-down-secondary.png');
    }

    .pngicon-arrow-left{  
        background-image: url('../images/theme/icon-arrow-left.png');
    }
    .pngicon-arrow-right{  
        background-image: url('../images/theme/icon-arrow-right.png');
    }

    .pngicon-arrow-left-alt{  
        background-image: url('../images/theme/icon-arrow-left-alt.png');
    }
    .pngicon-arrow-right-alt{  
        background-image: url('../images/theme/icon-arrow-right-alt.png');
    }

    .pngicon-arrow-left-secondary{  
        background-image: url('../images/theme/icon-arrow-left-secondary.png');
    }
    .pngicon-arrow-right-secondary{  
        background-image: url('../images/theme/icon-arrow-right-secondary.png');
    }

    .pngicon-arrow-left-grey{  
        background-image: url('../images/theme/icon-arrow-left-grey.png');
    }
    .pngicon-arrow-right-grey{  
        background-image: url('../images/theme/icon-arrow-right-grey.png');
    }

    .pngicon-search{  
        background-image: url('../images/theme/icon-search.png');
    }

#side-menu{
    .pngicon-facebook{
        background-image: url('../images/theme/icon-facebook-alt.png');
    }
    .pngicon-twitter{
        background-image: url('../images/theme/icon-twitter-alt.png');
    }
    .pngicon-instagram{
        background-image: url('../images/theme/icon-instagram-alt.png');
    }
    .pngicon-whatsapp{
        background-image: url('../images/theme/icon-whatsapp-alt.png');
    }
    .pngicon-location{
        background-image: url('../images/theme/icon-location-alt.png');
    }
}

.navbar-social{

    [class*="pngicon-"]{
        width:27px;
        height:27px;
        background-color:transparent;
        background-size:27px 27px;
    }

}


@font-face {
  font-family: 'wpbc-realstate';
  src:  url('../fonts/theme/wpbc-realstate.eot?o83oak');
  src:  url('../fonts/theme/wpbc-realstate.eot?o83oak#iefix') format('embedded-opentype'),
    url('../fonts/theme/wpbc-realstate.ttf?o83oak') format('truetype'),
    url('../fonts/theme/wpbc-realstate.woff?o83oak') format('woff'),
    url('../fonts/theme/wpbc-realstate.svg?o83oak#wpbc-realstate') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bcicon-"], [class*=" bcicon-"] { 

    font-size:48px;

    &.md{
        font-size:64px;
    }
    &.xl{
        font-size:100px;
    }
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpbc-realstate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bcicon-arrow-down:before {
  content: "\e900";
}
.bcicon-arrow-left:before {
  content: "\e901";
}
.bcicon-arrow-right:before {
  content: "\e902";
}
.bcicon-arrow-up:before {
  content: "\e903";
}
.bcicon-envelope:before {
  content: "\e907";
}
.bcicon-facebook:before {
  content: "\e908";
}
.bcicon-instagram:before {
  content: "\e909";
}
.bcicon-location:before {
  content: "\e90a";
}
.bcicon-phone:before {
  content: "\e90c";
}
.bcicon-whatsapp:before {
  content: "\e90d";
}
.bcicon-whatsapp-outline:before {
  content: "\e90e";
}
.bcicon-Balcon:before {
  content: "\e904";
}
.bcicon-Bano_completo:before,
.bcicon-Banos:before  {
  content: "\e906";
}
.bcicon-Calefaccion:before {
  content: "\e90f";
}
.bcicon-Camas_dobles:before {
  content: "\e910";
}
.bcicon-Camas_simples:before {
  content: "\e911";
}
.bcicon-Camas:before {
  content: "\e912";
}
.bcicon-Cochera:before {
  content: "\e905";
}
.bcicon-Cocina:before {
  content: "\e913";
}
.bcicon-Comedor:before {
  content: "\e914";
}
.bcicon-Dependencia_de_servicio:before {
  content: "\e915";
}
.bcicon-Dormitorios:before {
  content: "\e90b";
}
.bcicon-Emprendimiento_en_Pozo:before {
  content: "\e916";
}
.bcicon-Financiacion:before {
  content: "\e917";
}
.bcicon-Living:before {
  content: "\e918";
}
.bcicon-Microondas:before {
  content: "\e919";
}
.bcicon-Mts_Edificado_Totales:before {
  content: "\e91a";
}
.bcicon-Mts_Terreno:before {
  content: "\e91b";
}
.bcicon-Mucama:before {
  content: "\e91c";
}
.bcicon-Parrillero_propio:before {
  content: "\e91d";
}
.bcicon-Piscina:before {
  content: "\e91e";
}
.bcicon-Primera_Fila:before {
  content: "\e91f";
}
.bcicon-Refrigerador:before {
  content: "\e920";
}
.bcicon-Toilette1:before {
  content: "\e921";
}
.bcicon-Tv:before {
  content: "\e922";
}
.bcicon-Vista_al_mar:before {
  content: "\e923";
}
.bcicon-Wifi:before {
  content: "\e924";
}
.bcicon-Terrazas:before {
  content: "\e925";
  
}
.bcicon-Toilette:before {
  content: "\e926";
  
}
.bcicon-Canchas:before {
  content: "\e927";
  
}
.bcicon-Ropa_blanca:before {
  content: "\e928";
  
}
.bcicon-Lavavajillas:before {
  content: "\e929";
  
}
.bcicon-Heladera:before {
  content: "\e92a";
  
}
.bcicon-Lavarropas:before {
  content: "\e92b";
  
}
.bcicon-Tv_cable:before {
  content: "\e92c";
  
}
.bcicon-Alarma:before {
  content: "\e92d";
  
}
.bcicon-Seguridad:before {
  content: "\e92e";
  
}
.bcicon-Capacidad:before {
  content: "\e92f";
  
}